// $ npm add node-sass

@import "../../global.scss";

.contact{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    // Mobile Config
    @include mobile{
        flex-direction: column;
        padding-top: 10%;
    }

    .left{
        flex: 0.7;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include mobile{
            padding-top: 75px;
            flex: 0.4;
        }

        .imgContainer{
            width: 500px;
            height: 500px;

            display: flex;
            align-items: center;
            justify-content: right;

            // Mobile Config
            @include mobile{
                width: 250px;
                height: 250px;
                overflow: hidden;
            }
            

            img{
                width: 100%;
            }
        }

    }

    .right{
        flex: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $secondaryColor;
        padding-top: 100px;

        @include mobile{
            flex: 0.5;
            padding-top: 0px;
        }


        h2{
            font-size: 30px;
            //color:rgb(14, 145, 36);
            color: #F0B08A;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        input{
            width: 300px;
            height: 30px;
            font-size: 14px;
            //background-color: rgb(65, 64, 64);
            @include mobile{
                width: 250px;
                height: 20px;
            }
        }

        textarea{
            width: 300px;
            height: 200px;
            font-size: 14px;
            //background-color: grey;
            @include mobile{
                width: 250px;
                height: 100px;
            }
        }

        button{
            width: 150px;
            height: 30px;
            color: $secondaryColor;
            background-color: grey;
            border: none;
            border-radius: 10px;

            &:focus{
                outline: none;
            }
        }

        span{
            color: rgb(236, 11, 11);
        }
    }

    .mobile_only_arrow{

        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, -50%);
        margin: 0 auto;


        @include mobile{
            display: none;
        }

        img{
            width: 90px;
            animation: fadeinout 4s linear infinite;
            opacity: 0;
        }

        @keyframes fadeinout {
            50% { opacity: 1; }
        }

    }
}